<div class="container">
    <h1>New Task</h1>
    <div class="details-container">
      <form [formGroup]="taskForm">
        <div class="form-group">
          <label for="taskName">name</label>
          <input type="text" id="taskName" formControlName="name">
        </div>
        <div class="form-group">
          <label for="taskUrgency">urgency</label>
          <input type="text" id="taskUrgency" formControlName="urgency">
        </div>
        <div class="form-group">
          <label for="taskDateDue">date due</label>
          <input type="text" id="taskDateDue" formControlName="dateDue">
        </div>
        <div class="form-group">
          <label for="taskDescription">description</label>
          <input type="text" id="taskDescription" formControlName="description">
        </div>
      </form>
    </div>
    <button (click)="saveTask()">save</button>
    <a [routerLink]="['/tasks']" routerLinkActive="router-link-active">&lt; back</a>
  </div>
