<div class="container">
  <div class="title-container">
    <h1>Tasks</h1>
    <a [routerLink]="['new']" routerLinkActive="router-link-active">Create new task &gt;</a>
    <p>You currently have {{tasks.length}} pending tasks:</p>
  </div>
  <div class="list-container row">
    <div *ngFor="let task of tasks" class="task-container col-6">
      <div class="task-inner-container"
        [ngClass]="{high: task.urgency === 'high', medium: task.urgency === 'medium', low: task.urgency === 'low'}"
        [routerLink]="[task.id]" routerLinkActive="active">
        <h4 class="task-name">{{task.name}}</h4>
        <p class="task-urgency">{{task.urgency}} priority</p>
        <p>{{task.description}}</p>
      </div>
    </div>
  </div>
</div>
