<div class="container">
  <h1>ng To-Do</h1>
  <h2>About this app</h2>
  <div class="question-container">
    <h4>Why</h4>
    <p>I'm trying to understand the latest versions of Angular and Bootstrap. It wasn't going too well, so I decided to make a smol for me to practice these things with. Wish me luck.</p>
  </div>
  <div class="question-container">
    <h4>What</h4>
    <p>A nicer breakdown:</p>
    <ul class="features-list">
      <li>Angular's CLI. I've tried to create the entire app using the CLI to let it implement best practices to learn from</li>
      <li>Modules, found for the base app and the tasks child module (which is lazy loaded)</li>
      <li>Routing, found as forRoot in app module and as forChild in the tasks module</li>
      <li>Route Guards, found when trying to access a route that does not exist</li>
      <li>Components, found in the different pages developed</li>
    </ul>
    <p>Other things I'm planning to implement soon:</p>
    <ul class="features-list">
      <li>Forms, to create new tasks</li>
      <li>Directives, though still not entirely sure on what I could use them for. Stay tuned!</li>
      <li>A funny 404 page for when things go bad because the internet loves those.</li>
      <li>HTTP requests. The Big Boi™ Features.</li>
      <li>Communication between components.</li>
      <li>Unit tests for my various files.</li>
      <li>Deployment configuration.</li>
    <p>And a lot of styling. This really isn't a pretty sight right now.</p>
    </ul>
  </div>
</div>
