<div class="container">
  <h1>ng To-Do</h1>
  <h2>A playful demo for me to practice Angular with.</h2>
  <p class="smol-text">Please hire me.</p>

  <div class="description">
    <p>A simple app built with <a href="https://angular.io/" target="_blank">Angular7</a> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap4</a> for me to test out various features of both.</p>
    <p>For a more detailed description of what's being implemented and how it works, click <a routerLink="/about">here</a>.</p>
  </div>
</div>
